alembic
aniso8601
blinker
certifi
charset-normalizer
click
distlib
Faker
filelock
Flask
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
idna
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
packaging
pandas
pipenv
platformdirs
pluggy
pytest
python-dateutil
pytz
requests
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
